/* --------PRODUCT--------- */
.product-detail{
	padding: 50px 0;
	box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
	margin: 32px 0;
	background-color: #fff;
}

.product-detail .product-top {
	margin-bottom: 30px;
}

.product-detail .product-top p {
	font-family: "Times New Roman", Times, serif;
	margin: 0 12px;
	font-size: 12px;
}

.product-detail .product-content-left {
	width: 50%;
}

.product-detail .product-content-left-big-img {
	/* width: 80%; */
	/* padding-right: 20px; */
	display: flex;
	justify-content: center;
}

.product-detail .product-content-left-big-img img {
	width: 80%;
}

.product-detail .product-content-left-small-img {
	/* width: 20%; */
	margin: 20px 0;
	display: flex;
	justify-content: center;
}

.product-detail .product-content-left-small-img img {
	width: 20%;
}

.product-detail .product-content-right {
	width: 50%;
	padding-right: 20px;
}

* {
	box-sizing: border-box;
}

.product-detail .product-content-right-product-name h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
  
}

.product-detail .product-content-right-product-price {
	margin: 12px 0;
	font-size: 28px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

.product-detail .product-content-right-product-color {
	margin-top: 40px;
}

.color {
	font-weight: bold;
}

.quantity {
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
	align-items: center;
}

.product-content-right-product-button {
	display: flex;
  flex-direction: column;
}

.product-content-right-product-button button {
	width: 160px;
	height: 40px;
	display: block;
	transition: all 0.3s ease;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
	color: #fff;
}

.product-content-right-product-button button:last-child {
  background-color:#0664f9;
	border: none;
  font-weight: bold;
  margin-bottom: 20px;
	cursor: pointer;
}

.product-content-right-product-button button:last-child i {
	margin-right: 5px;
}

.product-content-right-product-button button:last-child:hover {
	background-color:#0050d7;
}

.product-content-right-product-button button:first-child {
  margin-bottom: 10px;
	background: #fed000;
	cursor: pointer;
  font-weight: bold;
  border: none;
}

.product-content-right-product-button button:first-child:hover {
	background-color: #aaa000;
}

.product-content-right-bottom {
	padding-top: 40px;
	border-top: 2px solid #dddddd;
	position: relative;
}

.product-content-right-bottom-top {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 1px solid #dddddd;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	top: -15px;
	left: 50%;
	border-radius: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}

.product-content-right-bottom-content-title {
  display: flex;
	border-bottom: 2px solid #dddddd;
}

.product-content-right-bottom-content-title-item {
	padding: 6px;
	cursor: pointer;
	margin-right: 6px;
}

.product-content-right-bottom-content-title-item p {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
}

.product-content-right-bottom-content {
	padding-top: 30px;
}

.product-content-right-bottom-content {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
}

.product-content-right-bottom-content-muahang {
	display: none;
}

.activeB {
	display: none;
}

.detail {
	font-weight: bold;
}

.btnUpdate {
	padding: 8px 10px;
	background-color: #32bd32;
	color: #fff;
	border-radius: 50%;
	border: none;
}

.btnUpdate:active {
	transform: scale(0.95);
}

.number-box,
.number-box2 {
	width: 35px;
	margin: 10px 5px;
	padding: 5px 8px;
}
.product-content-right-product-rate li{
  color: #ea9d02;
}
.product-content-right-product-header{
  border-bottom: 1px solid #000;
  margin: 0 32px;
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}
.product-content-right-product-rate ul {
  display: flex;
  list-style: none;
  padding-top: 10px;
}
.product-content-right-product-rate ul li{
  padding-left: 5px;
}
.promotion {
  background-color: #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.first-item {
  padding-bottom: 10px;
  padding-left: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  font-size: 20px;
}
.box-item {
  padding: 5px 0;
}
.box-item i {
  color: #fe547f;
}